name: Publish Nuget Package
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths:
      - 'Nick.RobotsParser/**'
jobs:
  Test:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - run: dotnet restore
    - run: dotnet test UnitTests/UnitTests.csproj

  Publish:
    needs: Test
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Build
      run: dotnet build --configuration Release
    - name: Publish
      run: dotnet pack -c Release
    - name: Push to Nuget
      run: dotnet nuget push ./Nick.RobotsParser/bin/Release/Nick.RobotsParser.2.0.5.nupkg --api-key ${{ secrets.NUGETAPIKEY }} -s https://api.nuget.org/v3/index.json

  Create_Release:
    needs: Test
    runs-on: windows-latest
      steps:
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v2.0.5
        release_name: v2.0.5
        draft: false
        prerelease: false
    - name: Clean
      run: dotnet clean
